# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# C extensions
*.so


# Python build
build
dist
*.egg-info/
*/_version.py

# Data file
*.svs
*.tiff
*.pvs
*.png
*.pickle

!docs/*.png
# Test cache
.cache/
tmp/

# Secret file
*.secret
*.pickle


# mypy
.mypy_cache/*

# Pytest cache
.pytest_cache

